version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: 'defaultdb'
      POSTGRES_USER: 'avnadmin'
      POSTGRES_PASSWORD: 'AVNS_g1k68FzsOfJqqZEUjiR'
    volumes:
      - db_data:/var/lib/postgresql/data
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      DATABASE_URL: postgres://avnadmin:changeme@db:5432/defaultdb
      DJANGO_SECRET_KEY: 'django-insecure-=bm+kxtu4erew2qrktdyfqjyrnd+p7#1-j59swohnu@n@2o%@h'
      DEBUG: "False"
      ALLOWED_HOSTS: "localhost,127.0.0.1"
    depends_on:
      - db
    ports:
      - "8000:8000"
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "3000:80"
    environment:
      VITE_API_BASE_URL: http://localhost:8000/api

volumes:
  db_data: